@charset "UTF-8";
@import "colors";

@mixin margin_padding($margin: 0, $padding: 15px 15px) {
  padding: $padding;
  margin: $margin;
}

@mixin substrate(
  $color: $color_1,
  $padding: 15px 15px,
  $radius: 5px
) {
  display: block;
  background: $color;
  @include margin_padding(0, $padding);
  border-radius: $radius;
}

@mixin header_section($class_name) {
  .#{$class_name} {
    @include margin_padding(0 -15px, 30px 0);
    background: $color_3;
    color: $color_2;
    text-align: center;

    &__header {
      margin: 30px 0 30px;
    }

    &__content {
      margin: 0 70px 20px;
    }

    &__filter {
      margin: 0 70px;

      [class*="col-"] {
        padding: 5px;
      }

      .form-group {
        display: block;
        margin: 0;
      }

      .submit {
        width: 100%;
        padding: 11px 3px 11px 3px;
      }

      .select2-container {
        .select2-selection--single {
          height: 44px;
          .select2-selection__rendered {
            line-height: 44px;
          }

          .select2-selection__arrow {
            height: 42px;
          }
        }
      }

      .advanced-filter {
        display: block;
        text-align: left;
        color: $color_4;
      }
    }
  }
}
