@charset "UTF-8";
@import "colors";

body {
  padding-top: 50px;
  background: $color_1;
  overflow-y: scroll;
  user-select: none;
}

@for $idx from 1 through 4 {
  h#{$idx} {
    color: $color_2;
    font-weight: 200;
    letter-spacing: 2px;
    margin: 0;
  }
}

p,
a,
address,
span,
label {
  margin: 0;
  color: $color_6;
  font-weight: 200;
  line-height: 1.5;
  font-size: 14px;
}

.btn {
  font-weight: 200;
  line-height: 1.5;
  font-size: 14px;
}

input:focus,
button:focus,
select:focus {
  outline: none !important;
}

.select2-container *:focus {
  outline: none;
}

.footer-wrapper {
  padding-top: 30px;

  &__bar {
    background: black;
    border-bottom: dashed 1px $color_1;
    display: flex;
    align-items: center;
    text-align: center;

    span, a {
      color: $color_2;
      font-weight: 300;
    }

    [class*="col-"]:first-child {
      padding: 20px 15px;
      border-right: dashed 1px $color_1;
    }

    a {
      color: $color_2;
    }
  }

  address {
    margin-top: 10px;

    ul {
      li {
        display: flex;
        i {
          color: $color_4;
          font-size: 16px;
          padding-top: 3px;
          padding-right: 7px;
        }

        .fa-envelope {
          font-size: 14px;
        }

        .fa-map-marker {
          font-size: 18px;
        }
      }
    }
  }

  &__content {
    background: $color_3;
    color: $color_2;
    padding: 20px 15px 10px;

    ul {
      padding: 0;
      list-style: none;
      li {
        margin-bottom: 10px;
      }
    }
  }
}

.title-section {
  padding-top: 15px;
  padding-bottom: 5px;
}

@media only screen and (max-width: 768px) {
  .title-section {
    text-align: center;
  }

  h3 {
    font-size: 20px;
  }
}
