<div class="news-wrapper">
    <figure>
        <figcaption></figcaption>
        <p><img src="images/news.jpg" alt=""/></p>
    </figure>
    <div class="news-wrapper__desc">
        <span class="news-wrapper__timer"><i class="fa fa-clock-o"></i> 4 минуты назад</span>
        <h4 class="news-wrapper__header"><a href="">{{{@this.getDataSet().getCurrentRecord().title}}}</a></h4>
        <div class="news-wrapper__content">
            <span class="news-wrapper__content">До конца 2017 года играйте в перформансах «Обмануть смерть» и «Потерянный сигнал» за полцены!</span>
        </div>
    </div>
</div>