<div class="certificate-wrapper">
    <figure>
        <img src="/images/demo.jpg" alt=""/>
    </figure>
    <div class="certificate-wrapper__desc">
        <h3>Серебряный сертификат</h3>
        <p>на посещение одного <a href="">квеста в реальности</a> из следующего <a href="">списка</a>.</p>
        <table>
            <tr>
                <td>Стоимость сертификата</td>
                <td><strong>4 490 р.</strong></td>
            </tr>
            <tr>
                <td>Срок действия</td>
                <td>90 дней</td>
            </tr>
            <tr>
                <td>Тип квестов</td>
                <td>Квесты</td>
            </tr>
        </table>
        <button class="btn btn-primary"><i class="fa fa-gift"></i>  Купить серебряный сертификат</button>
    </div>
</div>