@charset "UTF-8";
@import "../../../colors";
@import "../../../mixins";

@mixin certificate() {

  .certificate-wrapper {
    padding: 15px 0;
    color: $color_6;
    font-weight: 200;

    figure {
      img {
        width: 100%;
      }
    }

    &__desc {

      h3 {
        font-weight: 200;
        color: $color_2;
        letter-spacing: 4px;
      }

      table {
        margin-top: 2px;

        td {
          border-top: 1px solid $color_10;
          padding: 5px;

          &:last-child {
            border-left: 1px solid $color_10;
          }
        }

        margin-bottom: 15px;
      }
    }

    .btn {
      font-weight: 200;

      i {
        margin-right: 5px;
      }
    }
  }

}