<div class="row">
    <div class="col-md-12 title-wrapper">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title-wrapper__header">Мир Квестов в реальности | Квесты в Москве</h1>
                <p class="title-wrapper__content">Квесты в Москве — отличная возможность для отдыха с семьёй и
                    друзьями. Самое время выбраться из
                    комнаты!
                    Квесты в реальности — одно из самых популярных развлечений в Москве. У нас вы найдёте информацию
                    о
                    лучших квест-комнатах от разных компаний!</p>
            </div>
        </div>
        <div class="row filter-wrapper">
            <div class="filter-wrapper__content">
                <div class="form-group col-md-3 col-sm-6 col-xs-6">
                    <lookup name="type_quests_lookup" path="/api/v1/users"
                            keyField="user_id"
                            valueField="user_name">
                    </lookup>
                </div>
                <div class="form-group col-md-2 col-sm-6 col-xs-6">
                    <lookup name="players_lookup" path="/api/v1/users"
                            keyField="user_id"
                            valueField="user_name"></lookup>
                </div>
                <div class="form-group col-md-2 col-sm-6 col-xs-6">
                    <lookup name="date_lookup"
                            path="/api/v1/users"
                            keyField="user_id"
                            valueField="user_name"></lookup>
                </div>
                <div class="form-group col-md-2 col-sm-6 col-xs-6">
                    <lookup name="times_lookup"
                            path="/api/v1/users"
                            dataSource='[{
                                    "src": "date_lookup",
                                    "foreignKey": "user_id"
                                }]'
                            keyField="user_id"
                            valueField="user_name"></lookup>
                </div>
                <div class="form-group col-md-3 col-sm-12 col-xs-12">
                    <button class="btn btn-primary submit"><i class="fa fa-search" aria-hidden="true"></i> Найти
                    </button>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <a href="" class="advanced-filter"><i class="fa fa-search" aria-hidden="true"></i> Расширенный
                            фильтр</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <search-panel name="search_panel"></search-panel>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <quests-list></quests-list>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 quests">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h3 class="title-section">Популярные квесты в Москве</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <list-component path="/api/v1/users"></list-component>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 news">
        <h3 class="title-section">Последние новости из Мира квестов</h3>
        <news-list
                dataSet="[{title: 'Name new', desc: 'test'}, {title: 'Name new', desc: 'test'}, {title: 'Name new', desc: 'test'}]"></news-list>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 reviews">
        <h3 class="title-section">Последние отзывы на квесты в реальности Москвы</h3>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <review></review>
            <review></review>
            <review></review>
            <review></review>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <review></review>
            <review></review>
            <review></review>
            <review></review>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <review></review>
            <review></review>
            <review></review>
            <review></review>
        </div>
    </div>
</div>
<btn-msg></btn-msg>


