@charset "UTF-8";
@import "../../../../colors";
@import "../../../../mixins";
@import "../../../../components";

/* region Theme Component */
@include button-message();
@include quests();
@include list();
@include one();
@include search();
@include news();
@include news-list();
@include loader();
@include review();
/* endregion */

.title-wrapper {
  background: $color_3;
  text-align: center;
  padding: 30px 0 20px;

  &__header {
    margin: 20px 0 50px;
  }

  &__content {
    margin: 0 10% 40px;
  }

  .form-group {
    display: block;
    margin: 0;
    padding: 5px !important;
  }

  .filter-wrapper {
    margin: 0 70px;

    &__content {
      background: $color_3;
    }

    .select2-container {
      .select2-selection--single {
        height: 44px;
        .select2-selection__rendered {
          line-height: 44px;
        }

        .select2-selection__arrow {
          height: 42px;
        }
      }
    }

    .submit {
      width: 100%;
      padding: 10px 3px 11px;
    }

    .advanced-filter {
      display: block;
      text-align: left;
      color: $color_4;
      padding-left: 5px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

.reviews {
  padding: 30px 0;
  margin: 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

  .title-wrapper {

    &__header {
      margin: 0 0 20px;
    }

    &__content {
      margin: 0 0 30px;
    }

    .filter-wrapper {
      margin: 0;
    }
  }
}

@media only screen and (max-width: 768px) {

  .title-wrapper {

    &__header {
      margin: 0 0 20px;
    }

    &__content {
      margin: 0 0 20px;
    }

    .filter-wrapper {
      margin: 0;
    }
  }
}

