@charset "UTF-8";
@import "../../../../colors";
@import "../../../../mixins";
@import "../../../../components";

/* region Component */
@include quests();
@include list();
@include loader();
@include one();
@include news();
/* endregion */

.title-wrapper {
  margin: 0 -15px;
  padding: 30px;
  text-align: center;

  h2 {
    color: $color_2;
    margin-bottom: 50px;
  }

  p {
    color: $color_6;
    font-weight: 400;
    font-size: 14px;
    margin: 0 70px 20px;
  }

  span {
    display: block;
    color: $color_6;
    font-weight: 200;
    font-size: 13px;
    margin: 0 70px;
  }

  .booking-wrapper {
    display: flex;
    justify-content: center;
    padding: 30px 0;

    &__item {
      cursor: default;
      width: 250px;
      @include substrate($color_3, 20px 30px);
      margin: 0 10px;

      i {
        display: block;
        font-size: 30px;
        margin-bottom: 10px;
      }

      span {
        display: block;
        color: $color_6;
        font-size: 14px;
        font-weight: 100;
        margin: 0;
      }

      &_orange {
        color: $color_4;
        margin-bottom: 20px!important;
      }

      &_red {
        color: $color_9;
      }

      &_blue {
        margin-bottom: 20px!important;
        color: $color_8;
      }

    }
  }
}