<div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
        <div class="title-wrapper">
            <h2>Народный рейтинг лучших квестов и перформансов в Москве</h2>
            <p>О качестве квестов и перформансов лучше всего можете рассказать вы, пользователи нашего портала. Здесь вы
                найдете максимально честный и непредвзятый рейтинг квестов и перформансов Москвы, основанный на оценках
                реальных игроков.</p>
            <span>Каждая оценка и каждый отзыв тщательно проверяются «Миром Квестов». Мы делаем все возможное для того, чтобы обеспечить честную конкуренцию и избежать накрутки голосов. Вы можете быть уверены, что все оценки выставили игроки, забронировавшие квест или перформанс на нашем сайте и действительно прошедшие игру. Чтобы отзыв и оценка приняли участие в формировании народного рейтинга, необходимо:</span>
            <div class="booking-wrapper">
                <div class="booking-wrapper__item">
                    <i class="fa fa-calendar booking-wrapper__item_orange" aria-hidden="true"></i>
                    <span>Забронировать игру <br/>на «Мире Квестов»</span>
                </div>
                <div class="booking-wrapper__item">
                    <i class="fa fa-key booking-wrapper__item_blue" aria-hidden="true"></i>
                    <span>Посетить забронированную игру</span>
                </div>
                <div class="booking-wrapper__item">
                    <i class="fa fa-heart booking-wrapper__item_red" aria-hidden="true"></i>
                    <span>Оценить пройденный <br/>квест через специальное письмо-анкету</span>
                </div>
            </div>
            <span>Только на «Мире Квестов» вы найдете самое большое количество честных и проверенных отзывов на квесты и перформансы вашего города.</span>
            <quests-list></quests-list>
        </div>
    </div>
    <div class="col-md-12">
        <h3 class="title-section">Народный рейтинг квестов и перформансов Москвы</h3>
        <list-component name="test_component" path="/api/v1/users"></list-component>
    </div>
</div>