@charset "UTF-8";
@import "../../../colors";
@import "../../../mixins";

@mixin rating() {

  .rating-wrapper {
    width: 145px;
    display: block;
    @include substrate($color_3, 5px 10px);

    > span {
      display: block;
      font-size: 13px;
    }

    &__rating {
      color: $color_5;
      font-size: 16px;
    }
  }
}