<div class="quests-certificate-wrapper">
    <figure>
        <img src="/images/s1.jpeg" alt="">
    </figure>
    <div class="quests-certificate-wrapper__content">
        <h4>Магия кино</h4>
        <span class="quests-certificate-wrapper__type-quests"><i class="fa fa-suitcase"></i> CityQuest</span>
        <rating-box></rating-box>
    </div>
</div>