@charset "UTF-8";
@import "../../../colors";

@mixin quests-certificate() {

  .quests-certificate-wrapper {
    margin-top: 15px;
    border-top: 1px solid $color_3;
    border-left: 1px solid $color_3;
    padding: 15px;
    display: flex;

    figure {
      display: block;
      width: 180px;
      margin: 0 15px 10px 0;
      img {
        width: 100%;
        margin-bottom: 10px;
      }
    }

    &__content {

    }

    &__type-quests {
      display: block;
      color: $color_8;
      margin: 5px 0;
    }
  }
}
