@charset "UTF-8";
@import "../../../colors";
@import "../../../mixins";

@mixin review() {

  .review-wrapper {
    position: relative;
    @include substrate($color_6, 15px, 10px);
    margin: 10px 0 40px;

    &:after {
      content: "";
      position: absolute;
      left: 20px;
      bottom: -16px;
      border: 8px solid transparent;
      border-top: 8px solid $color_6;
    }

    &__rating {
      color: $color_4;
      font-size: 16px;
    }

    &__header {
      color: $color_3;
      font-weight: 400;
      margin: 0;

      a {
        font-weight: normal;
        color: $color_8;
      }
    }

    &__timer {
      color: $color_3;
      font-size: 12px;
    }

    &__content {
      padding: 5px 0 0;
      color: $color_3;
      font-size: 13px;
      margin: 0;
    }

    &__user {
      color: $color_4;
      display: block;
      position: absolute;
      bottom: -30px;
      left: 20px;
      font-weight: 300;
    }
  }

}