<div class="review-wrapper">
        <span class="review-wrapper__rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
        </span>
    <p class="review-wrapper__header">Квест в реальности <a href="">Затерянный мир</a></p>
    <span class="review-wrapper__timer"><i class="fa fa-clock-o"></i> 4 минуты назад</span>
    <p class="review-wrapper__content">Квест принес массу положительных эмоций. Будем всей семьей посещать "Мир квестов" и советовать их
        друзьям.</p>
    <div class="review-wrapper__user">Владимир Стерликов (новичок)</div>
</div>