@charset "UTF-8";
@import "../../../colors";

@mixin quests() {

  .quests-wrapper {

    &__items {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &__item {
      display: inline-block;
      margin: 5px;
      border: 1px solid $color_8;
      border-radius: 3px;

      a {
        display: block;
        color: $color_2;
        padding: 6px 14px;
        text-decoration: none;

        &:hover {
          color: $color_2;
          text-decoration: none;
          background: $color_3;
        }
      }
    }
  }
}
