<div class="quests-wrapper">
    <ul class="quests-wrapper__items">
        <li class="quests-wrapper__item"><a href="#">Страшные</a></li>
        <li class="quests-wrapper__item"><a href="#">Антуражные</a></li>
        <li class="quests-wrapper__item"><a href="#">Для новичков</a></li>
        <li class="quests-wrapper__item"><a href="#">Для детей</a></li>
        <li class="quests-wrapper__item"><a href="#">с актерами</a></li>
        <li class="quests-wrapper__item"><a href="#">Для большой компании</a></li>
        <li class="quests-wrapper__item"><a href="#">Нестандартный формат</a></li>
        <li class="quests-wrapper__item"><a href="#">Для подростков</a></li>
        <li class="quests-wrapper__item"><a href="#">Выбор Мира квестов</a></li>
        <li class="quests-wrapper__item"><a href="#">Скидки на квесты</a></li>
    </ul>
</div>