@charset "UTF-8";
@import "../../../colors";
@import "../../../mixins";

@mixin one() {

  .one-wrapper {
    @include substrate($color_3, 0);
    margin: 10px;

    figure {
      position: relative;
      width: 100%;

      img {
        width: 100%;
        border-radius: 5px 5px 0;
      }

      .one-wrapper__rating {
        padding: 0 15px 10px;
        bottom: 0;
        right: 0;
        font-size: 18px;
        font-weight: 200;
        position: absolute;
        color: $color_5;
        i {
          color: $color_5;
        }
      }

      .one-wrapper__family {
        position: absolute;
        right: 0;
        top: 0;
        padding: 10px 15px;
        color: $color_2;
        font-size: 16px;
        i {
          font-size: 22px;
        }
      }

      .one-wrapper__clock {
        position: absolute;
        right: 0;
        top: 0;
        padding: 36px 15px;
        color: $color_2;
        font-size: 16px;
      }

      .one-wrapper__difficult {
        position: absolute;
        right: 0;
        top: 0;
        padding: 60px 15px;
        color: $color_2;
        font-size: 16px;
      }
    }

    &__desc {
      display: flex;
      flex-direction: column;
      padding: 10px 20px 15px;
    }

    &__rating {
      color: $color_6;
      font-size: 13px;
      padding-bottom: 15px;

      i {
        color: $color_4;
      }
    }

    &__type {
      color: $color_7;
      margin: 5px 0;
      font-size: 12px;
    }

    &__address {
      font-size: 13px;
      color: $color_6;
      margin: 0;
    }

    &__header {
      margin: 0;
      a {
        color: $color_2;
      }
    }
  }
  
}