<div class="one-wrapper">
    <figure>
        <figcaption></figcaption>
        <p><img src="images/s1.jpeg" alt=""/></p>
        <span class="one-wrapper__family"><i class="fa fa-male"></i> 2-6</span>
        <span class="one-wrapper__clock"><i class="fa fa-clock-o"></i> 60 мин</span>
        <span class="one-wrapper__difficult">
            <i class="fa fa-key"></i>
            <i class="fa fa-key"></i>
            <i class="fa fa-key"></i>
        </span>
        <span class="one-wrapper__rating"><i class="fa fa-clock-o"></i> 9.4</span>
    </figure>
    <div class="one-wrapper__desc">
        <h4 class="one-wrapper__header"><a href="">{{{@this.getDataSet().getCurrentRecord().user_name}}}</a></h4>
        <span class="one-wrapper__type">Квест</span>
        <address class="one-wrapper__address">м. Курская, м. Чкаловская</address>
        <span class="one-wrapper__rating">Рейтинг по отзывам:
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            (4.9)
        </span>
        <button class="btn btn-danger btn-sm" on-click="reservedBtnClick(event)"><i class="fa fa-calendar"></i>  Бронировать</button>
    </div>
</div>