
<div class="search-panel-wrapper">
    {{#if .isShowing}}
    <div class="row">
        <h4>Подбор квеста в Москве</h4>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <label for="">Дата</label>
            <lookup name="search_date_lookup" keyField="id" valueField="user_name"></lookup>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <label for="">Время</label>
            <lookup name="search_time_lookup" keyField="id" valueField="user_name"></lookup>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <label for="">Тип квеста</label>
            <lookup name="search_type_quests_lookup" keyField="id" valueField="user_name"></lookup>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <label for="">Количество человек</label>
            <ranger></ranger>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <label for="">Цена</label>
            <ranger></ranger>
        </div>
    </div>
    <div class="row panel-bottom-wrapper">
        <div class="col-md-3 col-sm-12 col-xs-12">
            <label for="">Метро</label>
            <lookup name="search_metro_lookup" keyField="id" valueField="user_name"></lookup>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <label for="">Сложность</label>
            <lookup name="search_difficult_lookup" keyField="id" valueField="user_name"></lookup>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <label for="">Сортировка</label>
            <lookup name="search_sorted_lookup" keyField="id" valueField="user_name"></lookup>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
            <button class="btn btn-primary submit">Отфильтровать</button>
        </div>
    </div>
    {{/if}}
</div>
