@charset "UTF-8";
@import "../../../colors";
@import "../../../mixins";

@mixin search() {

  .search-panel-wrapper {
    text-align: left;
    @include margin_padding(0, 0 15px);
    margin: 0 -15px;

    label {
      padding-left: 5px;
    }

    [class*="col-"] {
      padding: 0 !important;
    }

    h4 {
      margin: 0;
      padding: 5px 0 5px 5px;
    }

    .lookup-wrapper {
      padding: 5px;
    }

    .submit {
      width: calc(100% - 10px) !important;
      padding: 10px 3px 11px;
      margin: 26px 5px 25px;
    }

    .ranger-wrapper {
      padding: 10px 5px 0;
    }
  }
}