<div class="list-wrapper">
    <ul class="list-wrapper__items">
        {{#each @this.getDataSet().getRecords():idx}}
        <li class="list-wrapper__item">
            <one-component dataSet="{{getDataSet().getRecords(idx)}}"></one-component>
        </li>
        {{/each}}
        {{#if .isLoad === true}}
        <loader></loader>
        {{/if}}
    </ul>
    {{#if .isLoad === false}}
    <button class="btn btn-warning btn-lg" on-click="refreshList(event)">Показать все квесты Москвы</button>
    {{/if}}
</div>