@charset "UTF-8";
@import "../../../colors";
@import "../../../mixins";

@mixin loader() {

  .loader-wrapper {
    display: block;
    width: 100%;
    text-align: center;

    &__content {
      display: inline-block !important;
      width: 100px;
      text-align: center;
      margin-top: 30px;
      margin-bottom: 30px;
      @include substrate($color_3);
    }

    &__spinner {
      display: inline-block;
      margin-top: 5px;
      width: 50px;
      height: 40px;
      font-size: 10px;

      > div {
        background-color: $color_4;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        height: 100%;
        width: 6px;
        display: inline-block;

        -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
        animation: sk-stretchdelay 1.2s infinite ease-in-out;
      }
    }

    &__rect2 {
      -webkit-animation-delay: -1.1s;
      animation-delay: -1.1s;
    }

    &__rect3 {
      -webkit-animation-delay: -1.0s;
      animation-delay: -1.0s;
    }

    &__rect4 {
      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s;
    }

    &__rect5 {
      -webkit-animation-delay: -0.8s;
      animation-delay: -0.8s;
    }

    //@-webkit-keyframes sk-stretchdelay {
    //  0%, 40%, 100% {
    //    -webkit-transform: scaleY(0.4)
    //  }
    //  20% {
    //    -webkit-transform: scaleY(1.0)
    //  }
    //}

    @keyframes sk-stretchdelay {
      0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
      }
      20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
      }
    }
  }
}
