<div class="loader-wrapper">
    <div class="loader-wrapper__content">
        <div class="loader-wrapper__spinner">
            <div class="loader-wrapper__rect1"></div>
            <div class="loader-wrapper__rect2"></div>
            <div class="loader-wrapper__rect3"></div>
            <div class="loader-wrapper__rect4"></div>
            <div class="loader-wrapper__rect5"></div>
        </div>
    </div>
</div>