@charset "UTF-8";
@import "../../../../colors";
@import "../../../../mixins";
@import "../../../../components";

/* region Component */
@include quests-certificate();
@include certificate();
/* endregion */

.present-box {
  color: $color_2;
  font-weight: 200;
  margin-bottom: 60px;
  h1 {
    font-size: 40px;
    font-weight: 200;
    margin: 50px 0 60px;
  }

  h4 {
    font-size: 20px;
    font-weight: 200;
    line-height: 1.5;
  }

  span {
    color: $color_6;
    font-size: 14px;
    line-height: 1.5;
  }

  a {
    font-size: 14px;
  }

  &__img {
    margin-top: 30px;
    text-align: center;
  }

  .certificate-links {
    margin-top: 25px;
    a {
      font-size: 14px;
      display: block;
      line-height: 1.5;
    }
  }
}

.certificates {
  padding-bottom: 15px;
}

.information {
  color: $color_6;
  font-weight: 200;
  padding-bottom: 30px;

  img {
    display: block;
    margin-top: 30px;
  }

  h4 {
    color: $color_2;
    font-weight: 200;
    margin: 15px 0 10px;
  }

  ul {
    padding: 15px 0 5px 15px;
  }
}