<div class="row present-box">
    <div class="col-md-5 col-md-offset-2 col-sm-5 col-sm-offset-1 col-xs-12">
        <h1>Подарочный сертификат на игру</h1>
        <h4>День рождения, Новый год, 8 марта, сто и один праздник у друзей и близких? Дарите впечатления — дарите
            квесты!</h4>
        <span>Нашим сертификатом вы порадуете не только адресата поздравления, но и себя, ведь велика вероятность, что именно вы окажетесь с ним в одной команде — участвовать можно хоть вчетвером! :)</span>
        <span>Подарить приключение своему другу с «Миром Квестов» можно за несколько минут: <a href="#">выберите тип сертификата</a>, введите свои контактные данные и переходите на страницу оплаты. После покупки электронный сертификат придёт вам на почту.</span>
        <span>Выбирать квест и день игры самому не нужно — предоставьте это другу. Ему останется просто забронировать любой удобный сеанс и прийти на игру со своей командой.</span>
        <div class="certificate-links">
            <a href="#">Как купить сертификат</a>
            <a href="#">Как воспользоваться сертификатом</a>
        </div>
    </div>
    <div class="col-md-4 col-sm-5 col-xs-12 present-box__img">
        <img src="/images/present-box.png" alt="">
    </div>
</div>
<div class="row certificates">
    <div class="col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1 col-xs-12">
        <certificate></certificate>
        <quests-certificate></quests-certificate>
        <quests-certificate></quests-certificate>
        <quests-certificate></quests-certificate>
        <quests-certificate></quests-certificate>
    </div>
    <div class="col-md-4 col-sm-5 col-xs-12">
        <certificate></certificate>
        <quests-certificate></quests-certificate>
        <quests-certificate></quests-certificate>
        <quests-certificate></quests-certificate>
    </div>
</div>
<div class="row information">
    <div class="col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1 col-xs-12">
        <img src="/images/customer-service.svg" alt="">
        <h4>Поддержка</h4>
        <span>Появились вопросы или сложности при покупке или использовании сертификата?</span>
        <ul>
            <li>Просто позвоните на нашу горячую линию <a href="">+7 (499) 322-15-24</a> семь дней в неделю c 9:00 до
                21:00
            </li>
            <li>или напишите на электронную почту <a href="">mail@mir-kvestov.ru</a></li>
        </ul>
        <span>и служба поддержки «Мира квестов» поможет вам найти ответы на любые вопросы.</span>
    </div>
    <div class="col-md-4 col-sm-5 col-xs-12">
            <div class="info-wrapper">
            <img src="/images/guarantee.svg" alt="">
            <h4>Гарантия возврата денег</h4>
            <span>Если в каком-то случае услуга по не зависящим от вас причинам не была предоставлена, или качество обслуживания вас не удовлетворило, то мы исправим эту неприятность либо вернем вам деньги!</span>
        </div>
        <div class="info-wrapper">
            <img src="/images/secure.svg" alt="">
            <h4>Гарантия безопасности платежей</h4>
            <span>Мы гарантируем конфиденциальность ваших персональных данных и информационную безопасность.</span>
            <span>При заказе на нашем сайте все предоставленные данные не будут получены третьими лицами без вашего согласия. Все платежные операции надежно защищены. Вся информация по банковским картам передается по защищённому соединению (SSL) и не хранится у нас согласно правилам международных платежных систем.</span>
            <span>Будьте уверены: вы заплатите ровно столько, сколько указано в стоимости сертификата.</span>
        </div>
    </div>
</div>
<div class="row information">
    <div class="col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1 col-xs-12">
        <h4>Как купить сертификат</h4>
        <ul>
            <li>Ознакомьтесь со списком квестов и перформансов, доступных для посещения по электронным сертификатам
                «Мира Квестов».
                <a href="">списком квестов и перформансов</a>, доступных для посещения по электронным сертификатам «Мира
                Квестов».
            </li>
            <li>Забронируйте и оплатите онлайн <a href="">Серебряный</a> или <a href="">Золотой</a> сертификат.</li>
            <li>Сертификат в формате PDF (с номером, проверочным кодом и сроком действия) придёт на указанный при
                оформлении электронный адрес.
            </li>
            <li>Распечатайте сертификат, вручите подарок близкому человеку и наслаждайтесь его реакцией!</li>
        </ul>
        <p><strong>Обратите внимание:</strong> Сертификат рассчитан на стандартную команду из 2–4 человек.</p>
    </div>
    <div class="col-md-4 col-sm-5 col-xs-12">
        <h4>Как воспользоваться сертификатом</h4>
        <ul>
            <li>Позвольте получателю выбрать квест или перформанс, дату и время игры, а также самостоятельно
                забронировать её на сайте mir-kvestov.ru
            </li>
            <li>Приходите в согласованное время по адресу выбранного квеста или перформанса (все адреса можно увидеть в
                нашем разделе квестов).
            </li>
            <li>Предоставьте распечатанный сертификат или назовите номер и проверочный код сертификата оператору,
                который сможет активировать ваш подарок.
            </li>
            <li>Начинайте свое приключение!</li>
        </ul>
        <p><strong>Обратите внимание:</strong> Стоимость забронированной игры может отличаться от стоимости сертификата
            в меньшую сторону. В таком случае остаток средств покупателю или получателю подарочного сертификата не
            возвращается, а сертификат считается погашенным.</p>
    </div>
</div>