@charset "UTF-8";
@import "../../../colors";
@import "../../../mixins";

@mixin news-list() {

  .news-list-wrapper {
    text-align: center;

    &__items {
      width: 100%;
      padding: 0;
      list-style: none;
      text-align: center;
    }

    &__item {
      text-align: left;
      display: inline-block;
    }
  }
}
