<div class="news-list-wrapper">
    <ul class="news-list-wrapper__items">
        <li class="news-list-wrapper__item"><news dataSet="{title: 'Test news'}"></news></li>
        <li class="news-list-wrapper__item"><news dataSet="{title: 'Test news'}"></news></li>
        <li class="news-list-wrapper__item"><news dataSet="{title: 'Test news'}"></news></li>
    </ul>
    <button class="btn btn-warning btn-lg">Показать все новости</button>
</div>