<div class="lookup-wrapper">
    <select class="js-example-basic-single" name="{{.name}}">
        {{#each @this.getDataSet().getRecords():idx}}
        {{#if .id && .value}}
        <option value="{{{.id}}}">{{{.value}}}</option>
        {{/if}}
        {{/each}}
    </select>
</div>
