@charset "UTF-8";
@import "../../../colors";
@import "../../../mixins";

@mixin button-message() {

  .button-wrapper {
    background: $color_4;
    padding: 13px 15px 17px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 50;
    right: 30px;
    bottom: 40px;
    cursor: pointer;

    i {
      font-size: 30px;
      color: $color_1;
    }
  }

  @media screen and (max-width: 768px) {
    .button-wrapper {
      bottom: 20px;
      right: 20px;
    }
  }
}